.form{
    padding: 8px 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.form input{
    background-color: transparent !important;
    border: 2px solid #EE6B61;
    color: black;
    width: 80%;
    margin: auto 0;
}

.form input:focus{
    border: 2px solid black;
}
.form input:focus::placeholder{
    color: black;
}
.form button{
    background-color: #EE6B61;
    color: #fff;
    border: 2px solid transparent;
    width: 20%;
    margin: auto 0;
    margin-right: 8px;

    
}
.form button:hover{
    background-color: #ff5448;

    
}
