*{
    margin: 0;
    padding: 0;
    direction: rtl;
    box-sizing: border-box;
}
@font-face {
    font-family: 'BYekan';
    src: url('./font/IRYekan.ttf') url('./font/IRYekanBold.ttf');
}
body{
    background-color: #f6f6f6;
    font-family: 'BYekan';
    font-size: 18px;
    font-weight: 600;
}